.section-music-component {
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.music-component-record-container {
  align-items: center;
  position: relative;
  display: flex;
  height: 100%;
  width: 70vw;
}

.music-component-record-image {
  position: absolute;
  height: 50rem;
  width: 50rem;
  left: -10vh;
  top: 5vh;
}

.music-component-cover-image {
  box-shadow: rgba(0, 0, 0, 0.25) 5px 0px 28px,
    rgba(0, 0, 0, 0.22) 10px 0px 10px;
  object-fit: cover;
  transition: 0.5s;
  overflow: hidden;
  height: 55rem;
  width: 40rem;
  z-index: 1;
}

.music-component-record-container:hover .music-component-cover-image {
  transform: scale(1.03);
  cursor: pointer;
}

.music-component-record-image:hover {
  cursor: pointer;
}

.music-component-container {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 100%;
  width: 30vw;
}

.music-component-title {
  text-shadow: 3px 3px 0 var(--color-content1);
  color: var(--background-main-3);
  font-family: var(--font-movies1);
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 30rem;
}

.music-component-arrow {
  transform: scaleX(-1) rotate(20deg);
  position: absolute;
  width: 15rem;
  top: 15vh;
  right: 25vw;
  z-index: 2;
}
