.section-music-component {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-grow: 0;
}

.music-component-record-container {
  position: relative;
  height: 80vh;
  width: 70vw;
}

.music-component-record-image {
  transform: translate(-50%, -50%);
  position: absolute;
  height: 60rem;
  width: 60rem;
  top: 1150px;
  left: 70%;
}

.music-component-cover-image {
  box-shadow: rgba(0, 0, 0, 0.25) -5px -5px 28px,
    rgba(0, 0, 0, 0.22) 0px -7px 10px;
  transform: translate(-50%, -30%);
  object-position: top;
  position: relative;
  object-fit: cover;
  height: 40rem;
  width: 70rem;
  left: 70%;
  top: 90%;
}

.music-component-record-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.music-component-container {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 100%;
  width: 30vw;
}

.music-component-title {
  text-shadow: 3px 3px 0 var(--color-content1);
  color: var(--background-secondary-8);
  font-family: var(--font-movies1);
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 30rem;
}

.music-component-arrow {
  transform: scaleX(-1) rotate(40deg);
  position: absolute;
  width: 15rem;
  bottom: 60vh;
  right: 20vw;
  z-index: 2;
}
