.section-music-component {
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  width: 100vw;
}

.music-component-record-container {
  align-items: center;
  position: relative;
  display: flex;
  height: 100%;
  width: 70vw;
}

.music-component-record-image {
  position: absolute;
  height: 50rem;
  width: 50rem;
  left: -10vh;
  top: 5vh;
}

.music-component-cover-image {
  box-shadow: rgba(0, 0, 0, 0.25) 5px 0px 28px,
    rgba(0, 0, 0, 0.22) 10px 0px 10px;
  object-fit: cover;
  transition: 0.5s;
  overflow: hidden;
  height: 55rem;
  width: 40rem;
  z-index: 1;
}

.music-component-record-container:hover .music-component-cover-image {
  transform: scale(1.03);
  cursor: pointer;
}

.music-component-record-image:hover {
  cursor: pointer;
}

.music-component-container {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 100%;
  width: 30vw;
}

.music-component-title {
  text-shadow: 3px 3px 0 var(--color-content1);
  color: var(--background-main-3);
  font-family: var(--font-movies1);
  text-transform: uppercase;
  padding-bottom: 30rem;
  font-size: 4rem;
}

.music-component-arrow {
  transform: scaleX(-1) rotate(27deg);
  position: absolute;
  width: 15rem;
  right: 25vw;
  z-index: 2;
  top: 0;
}

/* Tablet Responsiveness */
@media screen and (min-width: 430px) and (max-width: 800px) {
  .music-component-container {
    height: 100vh;
  }

  .music-component-title {
    height: 100%;
  }
  .music-component-arrow {
    transform: scaleX(-1) rotate(55deg);
    width: 10rem;
    right: 20vw;
    top: 10vh;
  }

  .music-component-record-image {
    position: absolute;
    height: 40rem;
    width: 40rem;
    left: -15vh;
    top: 4vh;
  }

  .music-component-cover-image {
    height: 45rem;
    width: 35rem;
  }

  .music-component-title {
    font-size: 3rem;
  }
}

/* Phone Responsiveness*/
@media screen and (max-width: 430px) {
  .section-music-component {
    height: 100%;
  }

  .music-component-record-image {
    height: 40rem;
    width: 40rem;
    left: -50vh;
    top: 4vh;
  }

  .music-component-cover-image {
    height: 45rem;
    width: 10rem;
  }

  .music-component-container {
    height: 100vh;
    align-items: flex-start;
  }

  .music-component-title {
    text-align: center;
    font-size: 2rem;
  }

  .music-component-arrow {
    transform: scaleX(-1) rotate(70deg);
    width: 6rem;
    right: 15vw;
    top: 8vh;
  }
}
