.hero-gallery-img {
  object-fit: cover;
  height: 18rem;
  width: 28rem;
  padding: 0.2rem 0;
}

/* Desktop Responsiveness */
@media screen and (max-width: 1920px) and (min-width: 1366px),
  (max-height: 1200px) and (min-height: 768px) {
  .hero-gallery-img {
    height: 30rem;
    width: 60rem;
  }
}

/* Tablet Responsiveness */
@media screen and (min-width: 430px) and (max-width: 800px) {
  .hero-gallery-img {
    height: 15rem;
    width: 25rem;
  }
}

/* Phone Responsiveness*/
@media screen and (max-width: 430px) {
  .hero-gallery-img {
    height: 15rem;
    width: 25rem;
  }
}
