.section-add-record {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 90vh;
  width: 100%;
}

.add-record-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

.add-record-form {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 40vh;
  gap: 3rem;
}

.add-record-form-div {
  display: flex;
  gap: 1.5rem;
}

.add-record-button {
  height: 3.5rem;
  width: 8rem;
}

/* Phone Responsiveness*/
@media screen and (max-width: 430px) {
  .add-record-form {
    height: 60vh;
    gap: 3rem;
  }
  .add-record-title {
    align-content: center;
    height: 10vh;
  }

  .add-record-form-div {
    flex-direction: column;
  }
}
