.section-home {
  font-size: 5rem;
  max-height: 100%;
  width: 100vw;
}

/* Desktop Responsiveness */
@media screen and (max-width: 1920px) and (min-width: 1366px),
  (max-height: 1200px) and (min-height: 768px) {
  .section-home {
    overflow: hidden;
  }
}

/* Tablet Responsiveness */
@media screen and (min-width: 420px) and (max-width: 800px) {
  .section-home {
    overflow: hidden;
  }
}
/* Phone Responsiveness*/
@media screen and (max-width: 420px) {
  .section-home {
    overflow: hidden;
  }
}
