.section-book-review {
  background-color: var(--background-light-3);
  height: 100vh;
  width: 100vw;
}

.book-review-button-container {
  align-items: center;
  display: flex;
  height: 10vh;
}

.book-review-button {
  background-color: var(--background-main-2);
  margin-left: 2rem;
  font-size: 1.5rem;
  width: 10rem;
  height: 4rem;
}

.book-review-container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80vh;
  width: 100vw;
}

.book-images-container {
  justify-content: center;
  object-fit: contain;
  align-items: center;
  position: relative;
  display: flex;
  height: 70vh;
  width: 50vw;
}
.book-front-cover-image {
  width: 25vw;
}

.book-images-container:hover .book-back-cover-image {
  opacity: 1;
}

.book-back-cover-image {
  position: absolute;
  transition: 0.5s;
  cursor: pointer;
  width: 25vw;
  opacity: 0;
}

.book-content-container {
  flex-direction: column;
  display: flex;
  height: 100vh;
  width: 50%;
  gap: 2rem;
}

.book-content-upper-container {
  margin-left: 10rem;
  margin-top: 15vh;
  height: 15vh;
}

.book-content-title {
  font-family: var(--font-book);
  text-transform: uppercase;
  font-size: 3.5rem;
  line-height: 1;
}

.book-content-author {
  font-family: var(--font-book3);
  font-size: 2rem;
}

.book-content-lower-container {
  text-transform: capitalize;
  font-family: var(--font-book2);
  flex-direction: column;
  font-size: 1.4rem;
  margin: 0 15rem 0 10rem;
  line-height: 1.2;
  display: flex;
  height: 100%;
  gap: 2rem;
}

.book-minor-details-container {
  justify-content: space-around;
  display: flex;
}

.book-content-genre {
  display: flex;
  gap: 2rem;
}

/* Tablet Responsiveness*/
@media screen and (min-width: 430px) and (max-width: 800px) {
  .book-content-upper-container {
    margin-left: 0;
    margin-top: 15vh;
    height: 15vh;
  }

  .book-images-container {
    width: 30vw;
  }

  .book-content-lower-container {
    margin: 0 2rem 0 1rem;
  }
}

/* Phone Responsiveness*/
@media screen and (max-width: 430px) {
  .section-book-review {
    height: 100%;
  }

  .book-review-container {
    flex-direction: column;
    display: flex;
    height: 100%;
  }
  .book-images-container {
    margin-top: 5vh;
    width: 100vw;
    height: 100%;
  }

  .book-back-cover-image,
  .book-front-cover-image {
    width: 60vw;
  }

  .book-content-container {
    width: 100vw;
    height: 100%;
  }
  .book-content-upper-container {
    margin-left: 2rem;
    margin-top: 5vh;
  }

  .book-content-lower-container {
    padding-bottom: 2rem;
    margin: 0 2rem;
  }
}
