.section-tv {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.tv-component-container {
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100vhh;
  width: 60vw;
}

.tv-image-container {
  object-fit: contain;
  position: relative;
  transition: 0.5s;
  height: 60vh;
  width: 40vw;
}

.tv-image {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.tv-screen {
  filter: drop-shadow(var(--drops-shadow));
  position: absolute;
  z-index: 0;
  left: 1rem;
  top: 1.5rem;
}

.tv-books-container {
  flex-direction: column;
  transition: 0.5s;
  display: flex;
}

.tv-books-image1 {
  height: 10vh;
  width: 15vw;
}
.tv-books-image2 {
  margin-bottom: -0.2rem;
  height: 10vh;
  width: 18vw;
}

.tv-books-image3 {
  filter: drop-shadow(var(--drops-shadow-books));
  margin-bottom: -2rem;
  height: 12vh;
  width: 18vw;
}

.tv-image-container:hover {
  transform: scale(1.05) translateY(10px);
  cursor: pointer;
}

.tv-books-container:hover {
  transform: scale(1.05) translateY(-10px);
  cursor: pointer;
}

.tv-component-title-container {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 100vh;
  width: 20vw;
}

.tv-component-title {
  text-shadow: 3px 3px 0 var(--color-content1);
  color: var(--background-main-3);
  text-transform: uppercase;
  font-size: 4rem;
  width: 100%;
}

.title-movies {
  font-family: var(--font-movies1);
  text-align: center;
}

.title-books {
  font-family: var(--font-movies1);
  justify-self: baseline;
}

.tv-component-arrow {
  position: absolute;
}

.arrow-books {
  transform: rotate(-10deg);
  width: 15rem;
  left: -10vw;
  top: 30vh;
}

.arrow-movies {
  width: 13rem;
  left: 17vw;
  top: 50%;
}
