.section-tv {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  width: 100vw;
}

.tv-component-container {
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 60vw;
}

.tv-image-container {
  object-fit: contain;
  position: relative;
  transition: 0.5s;
  height: 60vh;
  width: 40vw;
}

.tv-image {
  position: relative;
  height: 55vh;
  width: 40vw;
  z-index: 1;
}

.tv-screen {
  filter: drop-shadow(var(--drops-shadow));
  position: absolute;
  z-index: 0;
  left: 1rem;
  top: 1.5rem;
}

.tv-books-container {
  flex-direction: column;
  transition: 0.5s;
  display: flex;
}

.tv-books-image1 {
  height: 10vh;
  width: 15vw;
}
.tv-books-image2 {
  margin-bottom: -0.2rem;
  height: 10vh;
  width: 18vw;
}

.tv-books-image3 {
  filter: drop-shadow(var(--drops-shadow-books));
  margin-bottom: -2rem;
  height: 12vh;
  width: 18vw;
}

.tv-image-container:hover {
  transform: scale(1.05) translateY(10px);
  cursor: pointer;
}

.tv-books-container:hover {
  transform: scale(1.05) translateY(-10px);
  cursor: pointer;
}

.tv-component-title-container {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 100vh;
  width: 20vw;
}

.tv-component-title {
  text-shadow: 3px 3px 0 var(--color-content1);
  color: var(--background-main-3);
  text-transform: uppercase;
  font-size: 4rem;
  width: 100%;
}

.title-movies {
  font-family: var(--font-movies1);
  text-align: center;
}

.title-books {
  font-family: var(--font-movies1);
  justify-self: baseline;
}

.tv-component-arrow {
  position: absolute;
}

.arrow-books {
  transform: rotate(-10deg);
  width: 15rem;
  left: -10vw;
  top: 30vh;
}

.arrow-movies {
  width: 13rem;
  left: 17vw;
  top: 50%;
}

/* Desktop Responsiveness */
@media screen and (width: 1920px) and (height: 1200px),
  (min-width: 1280px) and (min-height: 631px) {
  .tv-screen {
    z-index: 0;
    left: 5rem;
    top: 5rem;
  }
  .tv-screen-gif {
    width: 28vw;
    height: 40vh;
  }

  .tv-component-title {
    font-size: 5rem;
  }
}

/* Tablet Responsiveness */
@media screen and (min-width: 430px) and (max-width: 800px) {
  .tv-image-container {
    width: 60vw;
  }

  .tv-image {
    position: relative;
    height: 50vw;
    width: 60vw;
  }

  .tv-component-title {
    font-size: 3rem;
  }

  .tv-books-container {
    flex-direction: column;
    transition: 0.5s;
    display: flex;
  }

  .tv-books-image1 {
    height: 7vh;
    width: 25vw;
  }

  .tv-books-image2 {
    height: 7vh;
    width: 25vw;
  }

  .tv-books-image3 {
    height: 10vh;
    width: 25vw;
  }

  .tv-component-title-container {
    align-items: flex-start;
  }

  .arrow-movies {
    transform: rotate(60deg);
    width: 10rem;
    left: 7vw;
    top: 15%;
  }

  .arrow-books {
    transform: rotate(-70deg);
    width: 7rem;
    left: -11vw;
    top: 3vh;
  }
}

/* Phone Responsiveness*/
@media screen and (max-width: 430px) {
  .section-tv {
    flex-direction: column-reverse;
    height: 100%;
  }

  .tv-component-title-container {
    height: 10vh;
    width: 100vw;
  }

  .tv-component-container {
    justify-content: center;
    height: 70vh;
    width: 100vw;
  }

  .tv-image-container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 34vh;
    width: 100vw;
  }
  .tv-image {
    position: relative;
    height: 35vh;
    width: 80vw;
    z-index: 1;
  }

  .tv-screen {
    z-index: 0;
    left: 5rem;
    top: 3rem;
  }
  .tv-screen-gif {
    width: 60vw;
    height: 25vh;
  }

  .tv-books-container {
    flex-direction: column;
    transition: 0.5s;
    display: flex;
  }

  .tv-books-image1 {
    height: 5vh;
    width: 50vw;
  }

  .tv-books-image2 {
    height: 5vh;
    width: 50vw;
  }

  .tv-books-image3 {
    height: 10.5vh;
    width: 50vw;
  }

  .tv-component-title-container {
    align-items: flex-end;
  }

  .tv-component-title {
    font-size: 2rem;
  }

  .title-books {
    text-align: center;
  }

  .arrow-movies {
    transform: rotate(270deg);
    width: 8rem;
    left: 35vw;
    top: -3rem;
  }

  .arrow-books {
    transform: rotate(-110deg);
    width: 7rem;
    left: 40vw;
    top: 10vh;
  }
}
