.hero-menu {
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
  height: 10vh;
  width: 100vw;
}

.hero-title {
  text-shadow: 3px 2px 0 var(--color-content1);
  font-family: var(--font-retro1);
  text-transform: uppercase;
  margin-right: 3rem;
  font-size: 4rem;
  display: flex;
}

.hero-menu-button {
  text-align: center;
  font-size: 1.5rem;
  margin-left: 2rem;
  width: 10rem;
}

.hero-menu-button {
  color: inherit;
  z-index: 1;
}

/* Tablet Responsiveness */
@media screen and (min-width: 420px) and (max-width: 800px) {
  .hero-title {
    margin-right: 3rem;
    font-size: 2rem;
  }
}
/* Phone Responsiveness*/
@media screen and (max-width: 420px) {
  .hero-title {
    font-size: 3rem;
  }
}
