.nav-menu {
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
  height: 10vh;
  width: 100vw;
}

.nav-title {
  text-shadow: 3px 2px 0 var(--color-content1);
  font-family: var(--font-retro1);
  text-transform: uppercase;
  margin-right: 3rem;
  font-size: 4rem;
  display: flex;
}

.nav-menu-button {
  text-align: center;
  font-size: 1.5rem;
  margin-left: 2rem;
  width: 10rem;
  color: inherit;
  z-index: 1;
}

/* Desktop Responsiveness */
@media screen and (max-width: 1920px) and (min-width: 1300px),
  (max-height: 1200px) and (min-height: 700px) {
  .nav-menu-button {
    margin-left: 4rem;
  }
}

/* Tablet Responsiveness */
@media screen and (min-width: 430px) and (max-width: 800px) {
  .nav-title {
    margin-right: 3rem;
    font-size: 2rem;
  }
}
/* Phone Responsiveness*/
@media screen and (max-width: 430px) {
  .nav-title {
    margin-right: 1rem;
    font-size: 3rem;
  }
  .nav-menu-button {
    margin-left: 1rem;
  }
}
