.foot-strip-container {
  text-transform: uppercase;
  letter-spacing: -1px;
  white-space: nowrap;
  align-items: center;
  display: flex;
  gap: 1rem;
}

.foot-strip-word {
  padding-top: 0.5rem;
  font-size: 4rem;
}

/* Desktop Responsiveness */
@media screen and (width: 1920px) and (height: 1200px),
  (min-width: 1280px) and (min-height: 631px) {
  .foot-strip-word {
    font-size: 8rem;
  }
  .foot-strip-container-icon {
    font-size: 8rem;
  }
}

/* Tablet Responsiveness */
@media screen and (min-width: 430px) and (max-width: 800px) {
  .foot-strip-word {
    font-size: 4rem;
  }
  .foot-strip-container-icon {
    font-size: 4rem;
  }
}

/* Phone Responsiveness*/
@media screen and (max-width: 430px) {
  .foot-strip-word {
    font-size: 3rem;
  }
  .foot-strip-container-icon {
    font-size: 3rem;
  }
}
