* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-size: 62.5%;
}

body {
  background-color: var(--background-secondary-8);
  box-sizing: border-box;
  scrollbar-width: 0;
  overflow-x: hidden;

  font-weight: 400;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
