:root {
  --background-main-1: rgb(255, 254, 211);
  --background-main-2: rgb(235, 223, 175);
  --background-main-3: rgb(221, 221, 67);

  --background-secondary-1: rgba(196, 170, 215, 255);
  --background-secondary-2: rgb(177, 175, 255);
  --background-secondary-3: rgb(127, 163, 212);
  --background-secondary-4: rgb(248, 165, 210);
  --background-secondary-5: rgb(230, 101, 129);
  --background-secondary-6: rgba(163, 221, 201, 255);
  --background-secondary-7: rgba(254, 186, 175, 255);
  --background-secondary-8: #fb8f91;
  --background-secondary-9: rgb(239, 75, 37);

  --background-light-1: rgba(250, 251, 241, 255);
  --background-light-2: rgba(247, 240, 231, 255);
  --background-light-3: rgb(241, 241, 241);
  --background-light-4: rgb(243, 223, 193);

  --background-dark: rgb(39, 39, 37);
  --background-dark-2: rgb(26, 28, 26);

  /* --background-main-3: rgb(240, 239, 107); */
  /* Text Color */
  --color-content1: rgb(0, 0, 0);
  --color-content2: rgb(95, 95, 95);
  --color-content3: rgb(174, 174, 174);

  /* FIlters */
  --drops-shadow: 3px -3px 10px #4c4c4c;
  --drops-shadow-books: 0px 15px 10px #000000;

  /* Fonts */

  --font-movies1: "CourierPrime-Regular", sans-serif;

  --font-content: "FragmentMono-Regular", sans-serif;
  --font-content-subTitle: "BN-Axel-Grotesk", sans-serif;

  --font-music1: "mexcellent3d", sans-serif;
  --font-music2: "COOPBL", sans-serif;

  --font-retro1: "Psycho", sans-serif;
  --font-retro2: "PeaceBegins", sans-serif;
  --font-retro3: "Wizard", sans-serif;

  --font-book: "type", sans-serif;
  --font-book2: "rheinmetall", sans-serif;
  --font-book3: "eminenz", sans-serif;
}

/* Retro Fonts */
@font-face {
  font-family: "Psycho";
  src: url("../assets/fonts/retro/Psychofun.ttf") format("truetype");
}
@font-face {
  font-family: "PeaceBegins";
  src: url("../assets/fonts/retro/PeaceBegins.ttf") format("truetype");
}
@font-face {
  font-family: "Wizard";
  src: url("../assets/fonts/retro/Wizard.otf") format("truetype");
}

/* Music Fonts */
@font-face {
  font-family: "mexcellent3d";
  src: url("../assets/fonts/music/mexcellent3d.otf") format("opentype");
}
@font-face {
  font-family: "COOPBL";
  src: url("../assets/fonts/music/COOPBL.ttf") format("opentype");
}

/* Content Fonts */
@font-face {
  font-family: "FragmentMono-Regular";
  src: url("../assets/fonts/main/FragmentMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BN-Axel-Grotesk";
  src: url("../assets/fonts/main/Grotesk.ttf") format("truetype");
}

/* Book Fonts */
@font-face {
  font-family: "type";
  src: url("../assets/fonts/books/type.ttf") format("truetype");
}
@font-face {
  font-family: "rheinmetall";
  src: url("../assets/fonts/books/rheinmetall.ttf") format("truetype");
}
@font-face {
  font-family: "eminenz";
  src: url("../assets/fonts/books/eminenz.ttf") format("truetype");
}

/* Movies Fonts */
@font-face {
  font-family: "CourierPrime-Regular";
  src: url("../assets/fonts/movie/CourierPrime-Regular.ttf") format("truetype");
}
