.section-records {
  background-color: var(--background-light-3);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
  min-height: 100%;
  width: 100vw;
}

.records-section-title {
  text-shadow: 3px 2px 0 var(--color-content1);
  color: var(--background-secondary-4);
  font-family: var(--font-music2);
  text-transform: uppercase;
  position: fixed;
  font-size: 7rem;
  height: 10rem;
  z-index: 1;
  top: 0;
}

.records-button-background {
  background-color: var(--background-secondary-4);
}

.records-title-color {
  color: var(--background-secondary-4);
}

.records-grid {
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin-top: 12vh;
  flex-wrap: wrap;
  display: grid;
  height: 100%;
  width: 60vw;
}

.records-grid-card:nth-child(3n + 1),
.records-grid-card:nth-child(3n) {
  margin-top: 10rem;
}

