.section-records {
  background-color: var(--background-light-3);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100%;
  display: flex;
  width: 100vw;
}

.records-section-title {
  text-shadow: 3px 2px 0 var(--color-content1);
  color: var(--background-secondary-8);
  font-family: var(--font-music2);
  text-transform: uppercase;
  position: fixed;
  font-size: 7rem;
  height: 10rem;
  z-index: 0;
  top: 0;
}

.records-button-background {
  background-color: var(--background-secondary-8);
}

.records-title-color {
  color: var(--background-secondary-8);
}

.records-grid {
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 6vh;
  min-height: 100%;
  flex-wrap: wrap;
  display: grid;
  width: 90vw;
}

.records-grid-card:nth-child(3n + 2) {
  margin-top: 10rem;
}

/* Tablet Responsiveness*/
@media screen and (min-width: 430px) and (max-width: 800px) {
  .records-section-title {
    padding-top: 0.8rem;
    font-size: 4.8rem;
  }

  .records-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 90vw;
  }

  .records-grid-card:nth-child(3n + 2) {
    margin-top: 0;
  }
}

/* Phone Responsiveness*/
@media screen and (max-width: 430px) {
  .records-section-title {
    display: none;
  }

  .records-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100vw;
  }

  .records-grid-card:nth-child(3n + 2) {
    margin-top: 0;
  }
}
