.section-footer {
  border-top: 1px solid var(--background-dark);
  background-color: var(--color-light3);
  color: var(--background-dark);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;

  overflow: hidden;
  display: flex;
  width: 100vw;
}

.footer-subscribe-container {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 50vh;
  width: 100vw;
}

.footer-subscribe-title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 4rem;
}

.footer-subscribe-input {
  box-shadow: 4px 4px var(--background-main-3);
  border: 2px solid var(--background-dark);
  color: var(--background-dark);
  background-color: transparent;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.5rem;
  outline: none;
  height: 4rem;
  width: 18rem;
}

.footer-subscribe-input::placeholder {
  opacity: 0.8;
}

.footer-input-container {
  display: flex;
  gap: 1rem;
}

.footer-button {
  background-color: var(--background-main-3);
  font-family: var(--color-content2);
  text-transform: capitalize;
  border: 2px solid black;
  box-shadow: 0.1em 0.1em;
  border-radius: 0.4em;
  padding: 0.4em 1em;
  font-weight: 900;
  cursor: pointer;
  width: 8em;
}
.footer-button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
  filter: brightness(0.8);
}
.footer-button:focus {
  outline: none;
}

.footer-contacts-container {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 50vh;
  width: 100vw;
}

.footer-social-links {
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 3rem;
  display: flex;
  height: 10vh;
  width: 20vw;
  gap: 1.5rem;
}

.footer-social-link {
  font-size: 2.5rem;
  transition: 0.5s;
  cursor: pointer;
  color: inherit;
}

.footer-social-link:hover {
  transform: scale(1.1);
}

.footer-rights {
  font-size: 1.5rem;
}

.footer-rights-text {
  text-transform: capitalize;
  margin-bottom: 2rem;
  text-align: center;
}

.footer-rights-uppercase {
  text-transform: uppercase;
}
