.section-footer {
  background-color: var(--color-content2);
  color: var(--background-secondary-8);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
}

.footer-subscribe-container {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 40vh;
  width: 100%;
}

.footer-contacts-container {
  height: 60vh;
  width: 100%;
}

.footer-subscribe-title {
  text-transform: uppercase;
  font-size: 4rem;
}

.footer-subscribe-input {
  box-shadow: 4px 4px var(--background-secondary-8);
  border: 2px solid var(--background-secondary-8);
  background-color: transparent;
  color: var(--background-secondary-8);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.5rem;
  outline: none;
  height: 4rem;
  width: 20rem;
}

.footer-subscribe-input::placeholder {
  opacity: 0.8;
}

.footer-button button {
   margin-right: 2rem;
  background-color: var(--background-secondary-8);
  width: 20rem;
}
