.footer-strip {
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  flex-wrap: nowrap;
  display: flex;
  height: 40vh;
  width: 100vw;
  gap: 5rem;
}

/* Desktop Responsiveness */
@media screen and (max-width: 1920px) and (min-width: 1300px),
  (max-height: 1200px) and (min-height: 700px) {
  .footer-strip {
    height: 30vh;
  }
}

/* Tablet Responsiveness */
@media screen and (min-width: 430px) and (max-width: 800px) {
  .footer-strip {
    height: 20vh;
  }
}

/* Phone Responsiveness*/
@media screen and (max-width: 430px) {
  .footer-strip {
    height: 20vh;
  }
}
