.hero-spinner {
  filter: drop-shadow(var(--drops-shadow));
  position: absolute;
  transition: 0.5s;
  cursor: pointer;
  height: 25rem;
  width: 25rem;
  z-index: 2;
}

.hero-spinner:hover {
  transform: scale(1.1);
}

.spinner-0 {
  left: 15%;
  top: 10%;
}

.spinner-1 {
  bottom: -5vh;
  left: 25%;
}

.spinner-2 {
  right: 20%;
  bottom: 5%;
}

.spinner-3 {
  transition: 0.5s ease-in-out;
  bottom: 0;
  left: 5vw;
}

.spinner-3:hover {
  transform: rotate(54deg);
}

.spinner-4 {
  transition: 0.5s ease-in-out;
  filter: none;
  left: -5vw;
  top: 1vh;
}

/* Tablet Responsiveness */
@media screen and (min-width: 420px) and (max-width: 800px) {
  .hero-spinner {
    height: 15rem;
    width: 15rem;
  }

  .spinner-0 {
    left: 10%;
    top: 20%;
  }

  .spinner-1 {
    bottom: 0;
    left: 15%;
  }

  .spinner-2 {
    right: 10%;
    bottom: 5%;
  }

  .spinner-4 {
    left: -5vw;
    top: 40vh;
  }
}

/* Phone Responsiveness*/
@media screen and (max-width: 420px) {
  .hero-spinner {
    height: 15rem;
    width: 15rem;
  }

  .spinner-0 {
    left: 10%;
    top: 20%;
  }

  .spinner-1 {
    bottom: 10%;
    left: 0;
  }

  .spinner-2 {
    right: 0;
    bottom: 5%;
  }

  .spinner-3 {
    bottom: 10vh;
    right: 0;
  }

  .spinner-4 {
    filter: none;
    left: 50vw;
    top: 20vh;
  }
}
