.hero-spinner {
  filter: drop-shadow(var(--drops-shadow));
  position: absolute;
  transition: 0.5s;
  cursor: pointer;
  height: 25rem;
  width: 25rem;
  z-index: 2;
}

.hero-spinner:hover {
  transform: scale(1.1);
}

.spinner-0 {
  left: 15%;
  top: 10%;
}

.spinner-1 {
  bottom: -5vh;
  left: 25%;
}

.spinner-2 {
  right: 20%;
  bottom: 5%;
}

.spinner-3 {
  transition: 0.5s ease-in-out;
  bottom: 0;
  left: 5vw;
}

.spinner-3:hover {
  transform: rotate(54deg);
}

.spinner-4 {
  transition: 0.5s ease-in-out;
  filter: none;
  left: -5vw;
  top: -2vh;
}

