.admin-book-card {
  height: 90vh;
  width: 100%;
  padding: 5rem;
}

.admin-book-card:nth-child(2n + 1) {
  border-right: 1px black solid;
}
.admin-book-card:nth-last-child() {
  border-bottom: 1px black solid;
}

.admin-book-buttons {
  background-color: var(--background-light-3);
  justify-content: flex-start;
  display: flex;
}

.admin-book-button {
  background-color: transparent;
  color: var(--color-content3);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  height: 3.5rem;
  display: flex;
  width: 3.5rem;
  border: none;
}

.admin-book-button:hover {
  color: black;
}

.admin-book-icon {
  font-size: 2.3rem;
}

.admin-book-card-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.admin-book-image {
  justify-content: flex-start;
  align-self: baseline;
  border-radius: 15px;
  padding-right: 1rem;
  object-fit: contain;
  margin-top: 1rem;
  display: flex;
  width: 15vw;
}

.admin-book-inputs {
  padding: 0 0.5rem;
  width: 100%;
}

.admin-book-textarea-summary,
.admin-book-textarea-fact {
  scrollbar-color: var(--background-light-2) white;
  background-color: var(--background-main-1);
  font-family: var(--color-content1);
  scrollbar-width: thin;
  font-size: 1.2rem;
  height: 10vh;
  border: none;
  width: 100%;
}

.admin-book-textarea-summary {
  height: 20vh;
}

.admin-book-input-container {
  font-family: var(--color-content1);
  text-decoration: underline;
  text-transform: uppercase;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.admin-book-textarea-fact:focus,
input:focus,
.admin-book-textarea-summary:focus,
input:focus {
  outline: none;
}

.admin-book-textarea-fact:disabled,
.admin-book-textarea-summary:disabled {
  background-color: transparent;
}

.tab-panel-add-book {
  margin: 5rem 0;
  border: none;
  height: 50vh;
  width: 42vw;
}

.tab-panel-add-book:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.tab-panel-add-book-icon {
  color: var(--color-content3);
  font-size: 8rem;
}
